[user]
  name = Takashi Nakagawa
  email = tak1240@gmail.com

[include]
  path = .gitconfig.local

[github]
  user = takashi

[color]
  diff        = auto
  grep        = auto
  branch      = auto
  status      = auto
  interactive = auto

[merge]
  ff = true

[pull]
  rebase = true # from 1.7.9

[push]
  default = current

[core]
  autocrlf     = input
  quotepath    = false
  excludesfile = ~/.gitexcludes
  editor = vim

[branch]
  quotepath       = true
  autosetuprebase = always

[url "git@github.com:"]
  pushinsteadof = https://github.com/

[credential]
  helper = osxkeychain

[alias]
  br = branch
  co = checkout
  dbr = !git branch --merged | grep -v \"\\* \" | xargs git branch --delete

[ghq]
  root = ~/src

[hub]
  protocol = https

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
